xcuserdata/
*.xcuserstate
a*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
.build/
build/
.swiftpm/
.DS_Store
