<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>MdEdit Quick Look</string>
	<key>CFBundleDisplayName</key>
	<string>MdEdit Quick Look</string>
	<key>CFBundleExecutable</key>
	<string>MdEditQuickLook</string>
	<key>CFBundleIdentifier</key>
	<string>com.mdedit.MdEdit.QuickLook</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>MdEditQuickLook.PreviewProvider</string>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<true/>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>net.daringfireball.markdown</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
